$theme-primary: #0078d7;
$text-theme-primary: #5a70fd;
$text-theme-dark: #34373d;

* {
  transition: all 0.2s ease-in;
}

body {
  font-size: 14px;
}

a {
  color: inherit;
}

button,
button:focus,
button:active,
input:focus,
input:active {
  border: none;
  background: inherit;
  outline: none;
}

.text-color-primary {
  color: $text-theme-primary;
}

header {
  background-color: $theme-primary;
  color: #fff;
  font-size: 16px;
  font-weight: bold;

  .input-group {
    width: 100%;
    min-width: 400px;

    .input-group-text,
    .form-control {
      font-size: 12px;
      background-color: lighten($theme-primary, 40%);
    }

    @media (max-width: 768px) {
      min-width: 50px;
    }
  }
}

aside {
  min-width: 20%;
  word-break: break-all;
  background: repeat-y 50% 0;
  min-height: 94vh;
  font-size: 14px;
  position: relative;

  svg,
  button {
    color: $text-theme-primary;
  }

  ul li {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .count {
      word-break: normal;
    }
  }

  ul.group-links li a {
    margin-bottom: 0;
  }

  .side-nav-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
  }
}

main {
  .main-header-links {
    font-size: 14px;
  }

  section.main li {
    padding: 15px 15px 15px 0;
    border-bottom: 1px solid rgba(160, 160, 160, 0.281);
  }

  .main-items {
    input {
      margin: 0 10px;
    }
  }

  .add-todo-form {
    input {
      color: $text-theme-primary;
    }

    input::placeholder {
      color: $text-theme-primary;
    }

    input:focus,
    input:active {
      border: none;
      outline: none;
    }
  }
}

.item-show {
  width: 600px;

  .main-item-text {
    min-height: 5em;
  }
}

.editable {
  padding: 5px;
  width: 100%;
  overflow: auto;
}

.hide {
  display: none !important;
}

.active {
  font-weight: bold;
}
